.piechart-container {
  background: white;
  padding: 15px;
  border-radius: 12px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  width: 90%;
}

.piechart-container h3 {
  margin-bottom: 10px;
  color: #333;
}

@media (max-width: 400px) {
  .piechart-container {
    padding: 10px;
  }
}